@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>
        Learn about
        <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.
        <div class="tooltip">
            Need help?
            Click the link to learn more about ASP.NET Core.
        </div>
    </p>
</div>

