# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# VS Code directories
.vscode/
.history/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# JetBrains Rider
.idea/

# ASP.NET Scaffolding
ScaffoldingReadMe.txt

# User-specific files and directories
TaskManagerProject.csproj.user
.vs/
bin/
obj/
