<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://guessinggamefunction20230906224221.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/72028181-bd1f-4718-9874-9f7b908b00c4/resourcegroups/DefaultResourceGroup-EUS/providers/Microsoft.Web/sites/GuessingGameFunction20230906224221</ResourceId>
    <UserName>$GuessingGameFunction20230906224221</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://guessinggamefunction20230906224221.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>